/* .note-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 3px 10px;
  text-overflow: ellipsis;
  width: 40%;
  flex: 0 1 24%;
}

.note-card h3 {
  text-overflow: ellipsis;
} */
